/**
 * this project uses a responsive type system
 * this is not ideal for zooming accessibility, but this is a project designed to play with shiny tech toys, not for releasing publicly.
 * avoid in production sites
 */
/* @link https://utopia.fyi/type/calculator?c=320,16,1.2,2436,28,1.414,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
  --step--2: clamp(0.69rem, calc(0.67rem + 0.14vw), 0.88rem);
  --step--1: clamp(0.83rem, calc(0.77rem + 0.31vw), 1.24rem);
  --step-0: clamp(1.00rem, calc(0.89rem + 0.57vw), 1.75rem);
  --step-1: clamp(1.20rem, calc(1.01rem + 0.96vw), 2.47rem);
  --step-2: clamp(1.44rem, calc(1.13rem + 1.56vw), 3.50rem);
  --step-3: clamp(1.73rem, calc(1.24rem + 2.43vw), 4.95rem);
  --step-4: clamp(2.07rem, calc(1.33rem + 3.72vw), 7.00rem);
  --step-5: clamp(2.49rem, calc(1.37rem + 5.60vw), 9.89rem);
}

/* @link https://utopia.fyi/space/calculator?c=320,16,1.2,2560,28,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
:root {
  --space-3xs: clamp(0.25rem, calc(0.22rem + 0.13vw), 0.44rem);
  --space-2xs: clamp(0.50rem, calc(0.45rem + 0.27vw), 0.88rem);
  --space-xs: clamp(0.75rem, calc(0.67rem + 0.40vw), 1.31rem);
  --space-s: clamp(1.00rem, calc(0.89rem + 0.54vw), 1.75rem);
  --space-m: clamp(1.50rem, calc(1.34rem + 0.80vw), 2.63rem);
  --space-l: clamp(2.00rem, calc(1.79rem + 1.07vw), 3.50rem);
  --space-xl: clamp(3.00rem, calc(2.68rem + 1.61vw), 5.25rem);
  --space-2xl: clamp(4.00rem, calc(3.57rem + 2.14vw), 7.00rem);
  --space-3xl: clamp(6.00rem, calc(5.36rem + 3.21vw), 10.50rem);

  /* One-up pairs */
  --space-3xs-2xs: clamp(0.25rem, calc(0.16rem + 0.45vw), 0.88rem);
  --space-2xs-xs: clamp(0.50rem, calc(0.38rem + 0.58vw), 1.31rem);
  --space-xs-s: clamp(0.75rem, calc(0.61rem + 0.71vw), 1.75rem);
  --space-s-m: clamp(1.00rem, calc(0.77rem + 1.16vw), 2.63rem);
  --space-m-l: clamp(1.50rem, calc(1.21rem + 1.43vw), 3.50rem);
  --space-l-xl: clamp(2.00rem, calc(1.54rem + 2.32vw), 5.25rem);
  --space-xl-2xl: clamp(3.00rem, calc(2.43rem + 2.86vw), 7.00rem);
  --space-2xl-3xl: clamp(4.00rem, calc(3.07rem + 4.64vw), 10.50rem);

  /* Custom pairs */
  --space-s-l: clamp(1.00rem, calc(0.64rem + 1.79vw), 3.50rem);
}

/* @link https://utopia.fyi/grid/calculator?c=320,16,1.2,2436,28,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=2xs,xl,2xl,12 */
:root {
  --grid-max-width: 152.25rem;
  --grid-gutter: var(--space-2xs-xl, clamp(0.50rem, calc(-0.22rem + 3.59vw), 5.25rem));
  --grid-columns: 12;
}